<h1>Passenger Details</h1>

<p>
  Name: <%= @passenger.name %>
</p>

<p>
  All Flights for This Passenger
  <ul>
    <% @passenger.flights.each do |flight| %>
      <li><%= link_to flight.number, "/flights/#{flight.id}" %></li>
    <% end %>
  </ul>
</p>
